.expenses {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 96%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);/*need to comment it for using card file*/
  /* border-radius: 12px;need to comment it for using card file */ 
}
.color{
  background-color: rgb(15, 15, 15);
  color: white;
}